<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>user_id</th>
          <th>Templates Array</th>
        </tr>
      </thead>
      <tbody>
        {% for temp in data %}
        <tr>
          <td>{{temp.user_id}}</td>
          <td>{{temp.users_templates}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
